.app {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-rows: 60px auto 1fr 20px 60px;
  grid-template-areas: "header header header"
                       ". main ."
                       ". . ."
                       ". . ."
                       "footer footer footer";
  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }
}