* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background-color: white;
  display: block;
}

#root {
  display: contents;
}

.text--nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}